
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Post</h2>

<form method="post" action="/Posts/Edit/@ViewBag.Post.Post_id">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <label>Title</label>
    <input type="text" value="@ViewBag.Post.Title" name="title" />
    <br />
    <label>Content</label>
    <textarea name="Content">@ViewBag.Post.Content</textarea>
    <br />
    <label>Select Category</label>
    <select name="Category_id">
        @foreach (var category in ViewBag.Categories)
        {
            if (@category.Category_id == @ViewBag.Post.Category.Category_id)
            {
                <option value="@category.Category_id" selected="selected">
                    @category.Category_name
                </option>
            }
            else
            {
                <option value="@category.Category_id">
                    @category.Category_name
                </option>
            }
        }
    </select>
    <br />
    <button type="submit">Editeaza articol</button>
</form>
