@model DAWProject.Models.Post
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Post</h2>

<form method="post" action="/Posts/Edit/@Model.PostId">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <br />
    @Html.HiddenFor(m => m.PostId)

    @Html.Label("Title", "Title")
    <br />
    @Html.EditorFor(m => m.Title)
    <br /><br />
    @Html.Label("Content", "Content")
    <br />
    @Html.Editor("Content")
    <br /><br />
    @Html.HiddenFor(m => m.CreatedAt)
    @Html.Label("Category", "Category")
    @Html.DropDownListFor(m => m.CategoryId,
    new SelectList(Model.Categ, "Value", "Text"),
    "Select Category", new { @class = "form-control" })
    <br />
    <button class="btn btn-sm btn-success" type="submit">Edit</button>
</form>
