@model DAWProject.Models.Post

<h2>Add Post</h2>
<form method="post" action="/Posts/New">
    @Html.Label("Title", "Post Title")
    <br />
    @Html.TextBox("Title", null, new { @class = "form-control" })
    <br /><br />
    @Html.Label("Content", "Conent")
    <br />
    @Html.TextArea("Content", null, new { @class = "form-control" })
    <br /><br />
    <label>Select Category</label>
    @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Categ, "Value",
    "Text"),
    "Select Category", new { @class = "form-control" })
    <br />
    <button class="btn btn-sm btn-success" type="submit">Adauga articol</button>
</form>