@model DAWProject.Models.Post
@{
    ViewBag.Title = "Show";
}
<br />
<a class="btn btn-primary" href="/Posts/Index">Back</a>
<br />
<br />
@{var tempval = TempData["message"];
    if (tempval != null)
    {
        <p>@tempval</p>
    }
}
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="glyphicon glyphicon-globe"></i>
        <strong>@Model.Category.CategoryName</strong>
        <span class="posted"> Posted by<a class = "usershow" href="/Users/Show/@Model.User.Id"> @Model.User.UserName</a></span>
        <span class="label label-success">@Model.CreatedAt</span>
    </div>
    <div class="panel-body">
        <h3 class="post-title">@Model.Title </h3>
        <br />
        @Model.Content
        <br />
    </div>

    @if (ViewBag.currentUser == Model.UserId || User.IsInRole("Admin") || User.IsInRole("Editor"))
    {
        <div class="panel-footer">
            <a class="btn btn-success pull-left" href="/Posts/Edit/@Model.PostId">Edit Post</a>

            @using (Html.BeginForm(actionName: "Delete", controllerName: "Posts"))
            {
                @Html.Hidden("Id")
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <button class="btn btn-danger pull-right" type="submit">Delete Post</button>
            }
            <div class="clearfix"></div>
        </div>
    }

</div>
<br />
@if (@Model.Comments.Any())
{
    foreach (var comm in @Model.Comments)
    {
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div>
                        <i class="glyphicon glyphicon-user"></i> <a class = "usershow" href="/Users/Show/@comm.User.Id">@comm.User.UserName</a>
                        <p>@comm.Content</p>
                        <small class="pull-right">@comm.Date</small>
                    </div>
                    @if (ViewBag.currentUser == comm.UserId || User.IsInRole("Admin") || User.IsInRole("Editor"))
                    {
                            <div style="display: inline-block; float : left; margin-right: 15px">
                                <a class="glyphicon glyphicon-pencil"
                                   href="/Comments/Edit/@comm.CommentId"></a>
                            </div>
                            <div style="display: inline-block; float : left">
                                <form method="post" action="/Comments/Delete/@comm.CommentId">
                                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                                    <button class="glyphicon glyphicon-trash" style="border: none; background: transparent" type="submit"></button>
                                </form>
                            </div>
                    }
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
        <hr />
    }
}
<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="panel">
                <form method="post" action="/Posts/Show/@Model.PostId">
                    <div class="panel-body">
                        <input type="hidden" name="PostId"
                               value="@Model.PostId" />
                        <label>Content</label>
                        <br />
                        <textarea class="form-control" name="Content"></textarea>
                        <br />
                        <button class="btn btn-success " type="submit">Add Comment</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
