@model DAWProject.Models.ApplicationUser

@{
    /**/

    ViewBag.Title = "Edit Profile";
}
<br />
<a class="btn btn-primary" href="/Users/Index">Back</a>

<li><h3>@ViewBag.Title</h3></li>


@using (Html.BeginForm(actionName: "Edit", controllerName: "Users", routeValues: new { id = @Model.Id }))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)

    <br />

    <i class="glyphicon glyphicon-envelope"></i>
    @Html.Label("UserName", "UserName", new { @class = "" })

    <br />

    @Html.EditorFor(m => m.UserName)
    @Html.ValidationMessageFor(m => m.UserName, "", new {
@class = "text-danger " })
    <br /><br />


    <i class="glyphicon glyphicon-envelope"></i>
    @Html.Label("Email", "Email", new { @class = "" })

    <br />

    @Html.EditorFor(m => m.Email)
    @Html.ValidationMessageFor(m => m.Email, "", new {
@class = "text-danger " })
    <br /><br />

    <i class="glyphicon glyphicon-phone"></i>
    @Html.Label("PhoneNumber", "Phone Number")
    <br />
    @Html.EditorFor(m => m.PhoneNumber)
    @Html.ValidationMessageFor(m => m.PhoneNumber, "", new {
@class = "text-danger " })
    <br /><br />
    if (User.IsInRole("Admin"))
    {
        <i class="glyphicon glyphicon-th-list"></i>
        @Html.Label("Role", "Role", new { @class = "" })
        @Html.DropDownList("newRole", new SelectList(Model.AllRoles, "Value", "Text", ViewBag.userRole), null, new { @class = "form-control" })
        <br />
    }


    <button class="btn btn-sm btn-success" type="submit">Save Changes</button>


}

