@{

    ViewBag.Title = "Show Users";
}

<li><h3>@ViewBag.Title</h3></li>


@foreach (var user in ViewBag.UsersList)
{   <div class="panel panel-default">
        <div class="panel-heading">Username: @user.UserName</div>

        <div class="panel-body">

            <i class="glyphicon glyphicon-envelope"></i> Email: <span class="label label-default">@user.Email</span>

            <br />

            @if (@user.PhoneNumber != null)
            {
                <i class="glyphicon glyphicon-phone"></i>@:Phone Number:<span class="label label-default">@user.PhoneNumber</span>




            }

        </div>

        <div class="panel-footer">

            <a class="btn btn-sm btn-success" href="/Users/Edit/@user.Id"> Edit Profile</a>
            <a class="btn btn-sm btn-success" href="/Users/Show/@user.Id"> View Profile</a>

        </div>

    </div>
    }
