<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PostHub</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css"
          rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("PostHub", "Index", "Posts", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("Categories", "Index", "Categories")</li>

                    @if (User.IsInRole("User") || User.IsInRole("Editor") || User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Add Post", "New", "Posts")</li>
                    }

                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Add Category", "New", "Categories")</li>
                    }


                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Show Users", "Index", "Users")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Cristian & Bogdan Grecu</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js">
    </script>
    @Scripts.Render("~/Scripts/Summernote.js");
</body>
</html>
