
<div class="panel-heading">
    <i class="glyphicon glyphicon-globe"></i>
    <strong>@Model.Category.CategoryName</strong>
    <span class="posted">Posted by @Model.User.UserName</span>
    <span class="label label-success">@Model.CreatedAt</span>
</div>
<div class="panel-body">
    <h3 class="post-title">@Model.Title </h3>
    <br />
    @Model.Content
    <br />
</div>
